:root{
    --darkRed-GF:#740001;
    --gold-GF:#eeba30;
    --darkGreen-SL:#1a472a;
    --lightGray-SL:#aaaaaa;
    --darkBlue-RV:#0e1a40;
    --lightGray-RV:#bebebe;
    --yellow-HF:#ecb939;
    --darkBrown-HF:#372e29;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
html{
    font-size: 62.5%;
}

/**********************       HEADER   *******************/
.navbar-red{
    background-color: var(--darkRed-GF);
}
.navitem-gold a{
    color: var(--gold-GF);
    font-size: 1.4rem;
}
.navbar-blue{
    background-color: var(--darkBlue-RV);
}
.navbar-yellow{
    background-color: var(--yellow-HF);
}
.navitem-brown a{
    color:var(--darkBrown-HF);
    font-size: 1.4rem;
}
.navbar-green{
    background-color: var(--darkGreen-SL)
}
.navitem-gray a{
    color: var(--lightGray-SL);
    font-size: 1.4rem;
}
.navbar-gray{
    background-color: var(--lightGray-RV);
}
.navbar-brand img{
    width: 200px;
}
.nav-item a{ 
    font-size: 1.4rem;
}
.navbar-nav li{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.header-wp img{
    width:1261px;
}
/**********************     HTML/INDEX  *******************/
.main--homePage{
    margin-left: 10px;
}
.title--gold{
    font-family:'Island Moments',sans-serif ;
    color: var(--gold-GF);
    font-size: 2.8rem;
}
.column--p p{
    font-size: 1.4rem;
}
/***********    VIDEOJUEGOS    *********************/
.column--p{
    font-size: 1.4rem;
}

/**********************      FOOTER   *******************/
footer{
    background-color: #f5ebe0;
}
.col{
    padding: 10px;
}
.footer--title{
    font-family:'Island Moments',sans-serif ;
    color: var(--darkBrown-HF);
    font-size: 2.8rem;
}
.footer--img img{
    width:50px;
}

/**********************    HTML/PERSONAJES ****************/
.main--section{
    margin: 20px auto 0 10px;

}
.personajes--img img{
    width: 150px;
}

/**********************    HTML/LIBROS ****************/
.main--section h1{
    font-size: 3.6rem;
    margin: 20px auto 0 10px;
}
.main-section--info .column--p{
    display: flex;
    flex-direction: column;
    justify-content: center;
}