:root{
    --darkRed-GF:#740001;
    --gold-GF:#eeba30;
    --darkGreen-SL:#1a472a;
    --lightGray-SL:#aaaaaa;
    --darkBlue-RV:#0e1a40;
    --lightGray-RV:#bebebe;
    --yellow-HF:#ecb939;
    --darkBrown-HF:#372e29;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
html{
    font-size: 62.5%;
}

/**********************       HEADER   *******************/
.navbar{
    background-color: var(--darkRed-GF);
    
}
.navbar-brand img{
    width: 200px;
}
.nav-item a{ /*! no funcionaaa */
    color: var(--gold-GF);
    font-size: 1.4rem;
}
.navbar-nav li{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.header-wp img{
    width:1261px;
}
/**********************     HTML/INDEX  *******************/
.main--homePage{
    margin-left: 10px;
}
.title--gold{
    font-family:'Island Moments',sans-serif ;
    color: var(--gold-GF);
}

/**********************      FOOTER   *******************/
footer{
    background-color: #f5ebe0;
}
.col{
    padding: 10px;
}
.footer--title{
    font-family:'Island Moments',sans-serif ;
    color: var(--darkBrown-HF);
    font-size: 2.8rem;
}
.footer--img img{
    width:50px;
}

/**********************    HTML/PERSONAJES ****************/
.main--section{
    margin: 20px auto 0 10px;

}
.personajes--img img{
    width: 150px;
}